<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="form">
                <!-- BEGIN FORM-->
                <form action="" id="form_logis" class="form-horizontal" method="post" >
                    <table class="table table-bordered table-hover dataTable" id="table_1">
                        <{*验证提示*}>
                        <div id='alert-error_1' class="alert alert-error hide">
                            <button class="close" data-dismiss="alert"></button>
                            <span>提交失败</span> </div>
                        <div id='alert-success_1' class="alert alert-success hide">
                            <button class="close" data-dismiss="alert"></button>
                            <span>提交成功</span> </div>
                        <thead>
                        <tr>
                            <th bgcolor="#E2EEFE" colspan="99">订单信息</th>
                        </tr>
                        </thead>
                        <tr>
                            <th width="250px">订单编号：<{$re.id}></th>
                            <th width="*">会员ID：<{$re.userid}></th>
                        </tr>

                        <thead>
                        <tr>
                            <th bgcolor="#E2EEFE" colspan="99">添加运单号</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="row-fluid" style="margin-top: 10px">
                                    <label for="logistics_no" class="control-label">运单号</label>
                                    <div class="controls span3">
                                        <input type="text" name="logistics_no" value="<{$re.logistics_no}>" id="logistics_no">
                                    </div>
                                </div>
                                <div class="row-fluid" style="margin-top: 10px">
                                    <label for="logistics_type" class="control-label">运单类型</label>
                                    <div class="controls span3">
                                        <select  id="logistics_type" name="logistics_type" >
                                            <option value="">请选择类型</option>
                                            <{foreach from=$logistics_type item=item key=key}>
                                            <option <{if $re.logistics_type == $key}>selected<{/if}> value="<{$key}>"><{$item}></option>
                                            <{/foreach}>
                                        </select>
                                    </div>

                                </div>
                            </td>

                        </tr>
                        </thead>
                        <input type="hidden" name="id" value="<{$re.id}>"/>
                    </table>
                    <div class="form-actions">
                        <button type="button" id='submit_order_eidt' class="btn red">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/jquery.validate.min.js?v=<{$vsersion}>"></script>
    <script>


        $('#submit_order_eidt').bind('click',function(){

            $modal = $('#ajax-modal');
            $('body').modalmanager('loading');
            $.fn.modal.defaults.width='';
            $.fn.modal.defaults.height='';
            $.post('<{"order/order_add_logis"|site_url}>',$('#form_logis').serialize(),function(msg){
                try
                {
                    eval("var str="+msg);
                    //操作成功
                    if(str.type==1)
                    {

                    }
                    else if(str.type==2)
                    {

                    }
                    else if(str.type==3)
                    {
                        //刷新主页面
                        window.location='';
                        //f_main_index();
                        return true;
                    }
                    setTimeout(modal_msg(str.msg),300);
                }
                catch(e)
                {

                    $('body').modalmanager('removeLoading');
                    setTimeout(modal_msg('系统异常'),300);
                };
            });
        });

    </script>
