<div class="modal-body">
    <!-- BEGIN PAGE CONTENT-->
    <div class="tab-content">
        <div class="span12">
            <div  id="product_all">
                <form id='form_list' action="" method="post">
                    <table class="table table-striped table-bordered table-hover dataTable" id='table_1' >
                        <thead>
                        <tr role="heading">

                            <th width="100" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">订单编号</th>
                            <th width="100" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">包裹编号</th>
                            <th width="100" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">批次编号</th>
                            <th width="100" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">收货人姓名</th>
                            <th width="100" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">收货人手机</th>
                            <th width="*"   class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">收货人地址</th>
                            <th width="120" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">导入订单号</th>
                        </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <{foreach key = k item = item from = $re.list}>
                        <tr>

                            <td><{$item.id}></td>
                            <td>
                                <{$item.fedex_pakge_id}>
                            </td>
                            <td><{$item.batches_id}></td>
                            <td><{$item.consignee}></td>
                            <td><{$item.consignee_mobile}></td>
                            <td><{$item.province}><{$item.city}><{$item.area}><{$item.consignee_address}></td>
                            <td><{$item.import_id}></td>
                        </tr>
                        <{/foreach}>
                        </tbody>
                    </table>
                    <div class="row-fluid" id='act_btn'>
                        <div class="clear"></div>
                        <div class="span6">
                            <div class="dataTables_paginate paging_bootstrap pagination"> <{$re.page}> </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--show window-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
