<html>
   <head>
       <title>form————test</title>
   </head>
    <body>
    <form action='<{"Test/test2"|site_url}>' method="post">
        <{if !empty($info)}>
            <h2><{$info}></h2>
        <{/if}>
        <h5>Username</h5>
        <input type="text" name="username" value="" size="50" />

        <h5>Password</h5>
        <input type="text" name="password" value="" size="50" />

        <h5>Password Confirm</h5>
        <input type="text" name="passconf" value="" size="50" />

        <h5>Email Address</h5>
        <input type="text" name="email" value="" size="50" />

        <div><input type="submit" value="Submit" /></div>
    </form>
    </body>
</html>