<div class="container-fluid"> 
  <!-- BEGIN PAGE HEADER-->
  <div class="row-fluid">
    <div class="span12"> 
      <!-- BEGIN PAGE TITLE & BREADCRUMB-->
      <h3 class="page-title"> <small> </small> </h3>
      <ul class="breadcrumb">
        <li> <i class="icon-home"></i> <a>首页</a> <span class="icon-angle-right"></span> </li>
        <li> <a href="#">基础参数</a> <span class="icon-angle-right"></span> </li>
        <li><a href="#">我的运费模版</a></li>
      </ul>
      <!-- END PAGE TITLE & BREADCRUMB--> 
    </div>
  </div>
  <!-- END PAGE HEADER--> 
  <!-- BEGIN PAGE CONTENT-->
  <div class="row-fluid">
    <div class="span12">
      <form action="" method="get" onsubmit="return load_sub();">
        <div class="row-fluid">
          <div class="span5">
            <div class="span5" style="margin-left:0px;">
              <select size="1" name="warehouse" aria-controls="sample_1" class="form_2_select2 m-wrap span5">
                <option <{if $smarty.get.warehouse == 'all'}>selected = "selected"<{/if}> value = "all">仓库名称</option>
                <{foreach item = item from = $warehouse}>
                  <option <{if $smarty.get.warehouse == $item.logistics_temp_id}>selected = "selected"<{/if}> value = "<{$item.logistics_temp_id}>"><{$item.name}></option>
                <{/foreach}>
              </select>
              <div class="input-append">
                <button class="btn green" type="submit">Search</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div id='product_all'>
        <table class="table table-striped table-bordered table-hover dataTable" id="product_1" >
          <thead>
            <tr role="heading">
              <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">省名称</th>
              <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">首重（克）</th>
              <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">首重费（元）</th>
              <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">续重（克）</th>
              <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">续重费（元）</th>
            </tr>
          </thead>
          <tbody role="alert" aria-live="polite" aria-relevant="all">
            <{if $logistics_temp}>
              <{foreach item = item from = $logistics_temp}>
                <tr>
                  <td width="120"><{$item.define_city_name}></td>
                  <td width="100"><{$item.default_num}></td>
                  <td width="100"><{$item.default_price}></td>
                  <td width="100"><{$item.add_num}></td>
                  <td width="*"><{$item.add_price}></td>
                </tr>
              <{/foreach}>
            <{else}>
              <tr>
                <td colspan="99">暂时无数据</td>
              </tr>
            <{/if}>
         </tbody> 
        </table> 
      </div>
    </div>
  </div>
  <!-- END PAGE CONTENT--> 
</div>
<link href="/static/css/jquery.fancybox.css" rel="stylesheet">
<script src="/static/js/jquery.fancybox.pack.js"></script> 
<script>
$('.form_2_select2').select2({
            placeholder: "请选择",
            allowClear: true
});

//row-details row-details-close
var initTable = function() {
        /* Formating function for row details */
      
        /*
         * Insert a 'details' column to the table
         */

         
		var oTable = $('#product_1').dataTable( {
           "aoColumnDefs": [
               {"bSortable": false, "aTargets": [ 0 ] }
            ],
            "aaSorting": [[1, 'asc']],
            "aLengthMenu": [
               [5, 15, 20, -1],
                [5, 15, 20, "All"] // change per page values here
           ],
		    "oLanguage": {
					"sProcessing": "正在加载中......",
					"sLengthMenu": "每页显示 _MENU_ 条记录",
					"sZeroRecords": "正在加载中......",
					"sEmptyTable": "查询无数据！",
					"sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
					"sInfoEmpty": "显示0到0条记录",
					"sInfoFiltered": "数据表中共为 _MAX_ 条记录",
					"sSearch": "当前页数据搜索",
					"oPaginate": {
					 "sFirst": "首页",
					 "sPrevious": "上一页",
					 "sNext": "下一页",
					 "sLast": "末页"
					}
  			},
			"bSort":false,
			"bInfo":false,
			"bPaginate":true,
			"bAutoWidth":true,
			"bStateSave":false,
			"sScrollX":'100%',
			// "sScrollY":"300px",
      // set the initial value
      "iDisplayLength": 10,
			//'sScrollXInner':true,
			//"bSortCellsTop":true,
        });
    }

function load_ini()
{
	/* <{if $logistics_temp}> */
	initTable();
	/* <{/if}> */
}
</script> 